<!-- app/views/storefront/home/_benefits.html.erb -->
<section class="container-xxl home-benefits py-2">
  <div class="row g-3 text-center">
    <div class="col-6 col-md-3"><i class="bi bi-truck fs-5"></i><div class="small mt-1">Fast shipping</div></div>
    <div class="col-6 col-md-3"><i class="bi bi-shield-check fs-5"></i><div class="small mt-1">Secure checkout</div></div>
    <div class="col-6 col-md-3"><i class="bi bi-star fs-5"></i><div class="small mt-1">Top-rated products</div></div>
    <div class="col-6 col-md-3"><i class="bi bi-arrow-repeat fs-5"></i><div class="small mt-1">Easy returns</div></div>
  </div>
</section>
