<section class="home-hero home-hero--gradient hero-tight overflow-hidden">
  <div class="container-xxl position-relative text-white">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">

        <div class="d-flex gap-2 hero-cta">
          <%= link_to "Shop New Arrivals", storefront_products_path(sort: "newest"),
              class: "btn btn-light btn-sm px-3 btn-lift" %>
          <%= link_to "Browse all", storefront_products_path,
              class: "btn btn-outline-light btn-sm px-3 btn-lift d-none d-sm-inline-flex" %>
        </div>
      </div>
    </div>
  </div>
</section>
